body {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.page-background-grey {
    background-color: #F6F2F2;;
}

header {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: #000000;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    list-style: none;
    min-height: 90px;
}

.menu-item:hover {
    background-color: #FF3F40;
}

.menu-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 0 23px;
    font-size: 14px;
    text-transform: uppercase;
}

/*  */
/* Intro */
/*  */

main {
    flex-grow: 1;
}

.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}

.intro-content {    
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
    margin-right: 74px;
}

.intro-heading {
    font-style: italic;
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.intro-text {
    font-weight: 200;
    margin: 0;
    line-height: 28px;
    max-width: 520px;
    margin-top: 36px;
    margin-bottom: 62px;
}

.intro-button {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 228px;
    height: 56px;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
}

.button-red {
    color:#FFFFFF;
    background-color: #FF2D2D;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}